<div class="mb-3 d-flex justify-content-between">
    <div class="input-group w-50">
        <input type="text" class="form-control" placeholder="Search products or categories" aria-label=""
            aria-describedby="search-button" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="search-button">
                Search
            </button>
        </div>
    </div>

    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-new">
        New product
    </button>
</div>